.advantages__inner {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px 0;
  background-image: linear-gradient(174deg, #ffffff 0%, #ffffff 7%, #f2f2f2 7%, #f2f2f2 100%);
}

.advantages__list {
  position: relative;
  list-style: none;
  padding: 111px 0 0;
  margin: 0;
}

.advantages__item {
  text-align: center;
  margin-bottom: 33px;

  &:last-child {
    margin-bottom: 0;
  }

  &:last-child::after {
    content: "";
    display: block;
    margin: 40px auto 0;
    width: 157px;
    height: 278px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-image: url("../img/iphone-screen-mobile@1x.png");
  }
}

.advantages__heading {
  @include text-size(18px, 24px, #000000);
  font-weight: 700;
  margin: 0 0 10px;
}

.advantages__text {
  margin: 0;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .advantages__item {
    &:last-child::after {
      background-size: 157px auto;
      background-image: url("../img/iphone-screen-mobile@2x.png");
    }
  }
}

@media screen and (min-width: 660px) {
  .advantages {
    background-image: linear-gradient(355deg, #f2f2f2 0%, #f2f2f2 82%, #ffffff 82%, #ffffff 100%);
  }

  .advantages__inner {
    max-width: 660px;
    background: none;
  }

  .advantages__list {
    position: relative;
    padding: 122px 0 44px 310px;
  }

  .advantages__item {
    text-align: initial;
    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 0;
    }

    &:last-child::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0;
      width: 268px;
      height: 481px;
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantages__item {
      &:last-child::after {
        background-size: 268px auto;
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .advantages {
    padding-top: 73px;//было 75
    background-image: linear-gradient(356deg, #f2f2f2 0%, #f2f2f2 77.5%, #ffffff 77.5%, #ffffff 100%);
  }

  .advantages__inner {
    max-width: 940px;
    padding: 0;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .advantages__item {
    width: 300px;
    text-align: center;

    &::before {
      content: "";
      display: block;
      width: 300px;
      height: 302px;
      margin-bottom: 56px;//было 54
      background-repeat: no-repeat;
      background-size: 292px 302px;
      background-position: 50% 50%;
    }

    &:nth-child(1)::before {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
    }

    &:nth-child(2)::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
    }

    &:nth-child(3)::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
    }

    &:last-child::after {
      display: none;
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantages__item {
      &:nth-child(1)::before {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
        background-size: 292px 302px;
      }

      &:nth-child(2)::before {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
        background-size: 292px 302px;
      }

      &:nth-child(3)::before {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
        background-size: 292px 302px;
      }
    }
  }

  .advantages__heading {
    @include text-size(30px, 30px, #000000);
    font-weight: 700;
    max-width: 235px;
    margin: 0 auto 26px;
  }

  .advantages__text {
    @include text-size(18px, 30px);
    max-width: 240px;
    margin: 0 auto;
  }
}
