.slogan {
  padding-top: 38px;
}

.slogan__text {
  max-width: 210px;
  margin: 0 auto 25px;

  @include text-size(24px, 31px);
  font-weight: 300;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 660px) {
  .slogan {
    padding-top: 48px;
  }

  .slogan__text {
    max-width: 100%;
    margin: 0 auto 0;

    @include text-size(40px, 48px);

    &:last-child {
      max-width: 340px;
    }
  }
}

@media screen and (min-width: 960px) {
  .slogan {
    padding-top: 66px;
  }

  .slogan__text {
    @include text-size(50px, 60px);

    &:last-child {
      max-width: 430px;
    }
  }
}
