.tariffs__inner {
  max-width: 320px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 133px;
  padding-bottom: 45px;
  background-image: linear-gradient(175deg, #ffffff 0%, #ffffff 13%, #f2f2f2 13%, #f2f2f2 100%);
}

.tariffs__table {
  margin: 0 auto 43px;
  border-collapse: collapse;
  background-color: #ffffff;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  min-width: 840px;
}

.tariffs__th {
  width: 280px;

  @include text-size(18px, 30px, #ffffff);
  padding: 16px 0 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: solid 2px #ffffff;
  border-top-color: #283645;
  border-bottom-color: #283645;
  background-color: #283645;

  &--flag {
    position: relative;
    overflow: hidden;
  }

  &--empty {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.tariffs__flag {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 100px;
  padding: 9px 5px;
  transform: translate(-50%, -50%) rotate(-45deg);

  @include text-size(14px, 10px, #ffffff);
  font-weight: 700;
  background-color: #d22856;
}

.tariffs__price {
  display: block;

  @include text-size(24px, 30px, #ffffff);
  font-weight: 300;
}

.tariffs__cell {
  width: 280px;
  border: solid 2px #e5e5e5;
  height: 60px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 19px top 50%;

  &--option {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: transparent;

    @include text-size(14px, 14px);
    padding-left: 24px;
    padding-top: 24.5px;
    text-transform: uppercase;
  }

  &--no {
    background-size: 27px 27px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNi43NTIiIGhlaWdodD0iMjYuNzUyIj48cGF0aCBmaWxsPSIjZjI1YjI2IiBkPSJNMTUuNDk3IDEzLjM3NkwyNi4zMTIgMi41NjJBMS41IDEuNSAwIDEgMCAyNC4xOTEuNDQxTDEzLjM3NiAxMS4yNTUgMi41NjIuNDM5QTEuNSAxLjUgMCAxIDAgLjQ0MSAyLjU2bDEwLjgxNCAxMC44MTVMLjQzOSAyNC4xOWExLjUgMS41IDAgMSAwIDIuMTIyIDIuMTIxbDEwLjgxNS0xMC44MTRMMjQuMTkgMjYuMzEyYy4yOTMuMjkzLjY3Ny40MzkgMS4wNjEuNDM5cy43NjgtLjE0NiAxLjA2MS0uNDM5YTEuNSAxLjUgMCAwIDAgMC0yLjEyMUwxNS40OTcgMTMuMzc2eiIvPjwvc3ZnPg==");
  }

  &--yes {
    background-size: 31px 21px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMS42OTgiIGhlaWdodD0iMTYuMDkiIHZpZXdCb3g9Ii04Mi4zNTcgNC44NzUgMjEuNjk4IDE2LjA5Ij48cGF0aCBmaWxsPSIjM2RjNjQ0IiBkPSJNLTYwLjk1MyA1LjE2N2EuOTk5Ljk5OSAwIDAgMC0xLjQxNCAwTC03NS43NSAxOC41NTFsLTQuOS00LjlhLjk5OS45OTkgMCAxIDAtMS40MTQgMS40MTRsNS42MDcgNS42MDdhLjk5Ny45OTcgMCAwIDAgMS40MTQgMGwxNC4wOS0xNGMuMzkxLS40ODEuMzkxLTEuMTE0IDAtMS41MDV6Ii8+PC9zdmc+");
  }
}

.tariffs__dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tariffs__dot {
  width: 6px;
  height: 6px;
  padding: 0;
  margin: 0 8px;
  border: solid 3px transparent;
  border-radius: 50%;
  background-color: rgba(#283645, 0.3%);

  &--active {
    width: 12px;
    height: 12px;
    border-color: #283645;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 660px) {
  .tariffs {
    padding-bottom: 22px;
    background-image: linear-gradient(176deg, #ffffff 0%, #ffffff 16%, #f2f2f2 16%, #f2f2f2 100%);
  }

  .tariffs__inner {
    max-width: 660px;
    padding: 0 20px;
    padding-top: 106px;
    background: none;
  }

  .tariffs__table {
    min-width: 620px;
  }

  .tariffs__th {
    width: 155px;

    @include text-size(16px, 24px, #ffffff);
    padding: 15px 0 8px 4px;

    &--empty {
      background-color: #f2f2f2;
      border-color: #f2f2f2;
      border-bottom: solid 2px #e5e5e5;
      position: initial;
      transform: translateX(0);
    }
  }

  .tariffs__price {
    @include text-size(18px, 30px, #ffffff);
  }

  .tariffs__flag {
    top: 18px;
    left: 21px;
    padding: 9px 5px 10px;
  }

  .tariffs__cell {
    width: 155px;
    border: solid 2px #e5e5e5;
    height: 47px;
    background-repeat: no-repeat;
    background-position: right 50% top 50%;

    &--option {
      position: initial;
      transform: translateX(0);

      @include text-size(14px, 14px);
      padding-left: 15px;
      padding-top: 0;
      text-transform: initial;
    }
  }

  .tariffs__dots {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .tariffs {
    background-image: linear-gradient(176deg, #ffffff 0%, #ffffff 20%, #f2f2f2 20%, #f2f2f2 100%);
    padding-bottom: 52px;
  }

  .tariffs__inner {
    max-width: 960px;
    padding: 188px 10px 0;
  }

  .tariffs__table {
    min-width: auto;
    width: 100%;
    background-color: #f2f2f2;
  }

  .tariffs__th {
    width: 230px;

    @include text-size(18px, 22px, #ffffff);
    padding: 19px 0 13px;

    &--empty {
      border: solid 2px #f2f2f2;
      border-bottom: solid 2px #e5e5e5;
    }
  }

  .tariffs__price {
    @include text-size(24px, 40px, #ffffff);
  }

  .tariffs__cell {
    width: 230px;
    height: 61px;
    background-repeat: no-repeat;
    background-position: right 50% top 50%;

    &--option {
      @include text-size(18px, 18px);
      padding-left: 21px;
      background-color: #ffffff;
    }
  }
}
